{% if user.is_authenticated %}
    <h2>Hoşgeldin {{ user.username }}</h2>
{% else %}
    <div class="card">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-label" >
                        {{ field.label_tag }}
                    </div>
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="button" type="submit">Send</button>
            </form>
        </div>
    </div>
{% endif %}